.pilt {
  width: 100px;
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nupp {
  border: 1px dotted green;
}

.nupp:hover {
  text-decoration: underline;
  cursor: pointer;
}

.kuldne {
  color: goldenrod;
}

.tume-leht {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.hele-leht {
  background-color: rgb(237, 237, 237);
  min-height: 100vh;
}

.aktiivne {
  background-color: rgb(239, 244, 239);
  border: 1px solid green;
}

.mitteaktiivne {
  background-color: rgb(243, 238, 238);
  border: 1px solid red;
}