.pilt {
  width: 100px;
  /* height: 100px; */
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nupp {
  border: 2px dotted blue;
}

.nupp:hover {
  cursor: pointer;
  text-decoration: underline;
  border: 2px dotted green;
}